% vim:syn=erlang
{sub_dirs, [
    "apps/mkbd",
    "rel"
    ]}.
{deps_dir, ["deps"]}.
{deps, [
     {lager,    ".*", {git, "git://github.com/360degrees/lager", {branch, "master"}}},
     {cowboy,   ".*", {git, "git@github.com:extend/cowboy.git", {branch, "master"}}},
     {mochiweb, ".*", {git, "git@github.com:mochi/mochiweb.git", {branch, "master"}}},
     {gun,      ".*", {git, "git@github.com:extend/gun.git", {branch, "master"}}}
]}.

%% Erlang compiler options
{erl_opts, [
    {parse_transform, lager_transform},
    {i, "apps/mkbd"}
]}.
